<li>
	<%= message.user.name %> - <%= message.created_at.to_time.strftime('%H:%M') %><br />
	<%= message.content %> <input placeholder="continue story..." id="message_content" name="message[content]" /> <button name="message[parent]" value="<%= message.id %>">send</button>
</li>