<div class="span5 offset3">
	<div id="current_battles">
		<div class="bubble"><%= link_to "Lorem ipsum dolor sit amet, consectetuer adipiscing elit.", battle_path(1) %><br />online 4/10</div>
		<div class="bubble"><%= link_to "Sed posuere interdum sem. Quisque ligula eros ullamcorper quis.", battle_path(2) %><br />online 8/10</div>
	</div>
</div>