<h1>LyricalBattle Lobby</h1>
<table>
	<thead>
		<th>Lock</th>
		<th>Name</th>
		<th>Genre</th>
		<th>Players</th>
	</thead>
	<tbody>
		<tr>
			<td>Open</td>
			<td><%= link_to "Test room", room_path(1) %></a></td>
			<td>lyric</td>
			<td>4/10</td>
		</tr>
		<tr>
			<td>Private</td>
			<td><%= link_to "Short story", room_path(2) %></td>
			<td>Short story</td>
			<td>8/10</td>
		</tr>
	</tbody>
</table>