alert("asdf");
$(function() {
	faye.subscribe("/channels/*", function (data) {
		//alert(data);
		//$("#chat").append('<li>' + data.object.content + '</li>');
		//$("#new_message")[0].reset();
		alert(data);
		eval(data);
	});
});